# Your sipgate personal access token and id
# Open https://app.sipgate.com/ and create a new token by navigating to "Benutzereinstellungen" > "Personal-Access-Tokens"
SIPGATE_TOKEN='<sipgate_token>'
SIPGATE_TOKEN_ID='<sipgate_token_id>'

# The caller number
SIPGATE_CALLER='<sipgate_caller>'

# The person to call
SIPGATE_CALLEE='<sipgate_callee>'

# The recipient for faxes 
SIPGATE_FAX_RECIPIENT='<sipgate_fax_recipient>'

# The recipient for sms
SIPGATE_SMS_RECIPIENT='<sipgate_sms_recipient>'

# You can use the "/{userID}/faxlines" endpoint to list the available faxline IDs for a given user.
# Alternatively you can use the Node.JS library (see https://github.com/sipgate-io/sipgateio-node-examples#list-common-ids)
SIPGATE_FAX_EXTENSION='<sipgate_fax_extension>'

# You can use the "/{userID}/sms" endpoint to list the available SMS IDs for a given user.
# Alternatively you can use the Node.JS library (see https://github.com/sipgate-io/sipgateio-node-examples#list-common-ids)
SIPGATE_SMS_EXTENSION='<sipgate_sms_extension>'

# The default sms phonenumber (which sends sms)
SIPGATE_SMS_FROM='<sipgate_sms_from>'

# The webhook server address
SIPGATE_WEBHOOK_SERVER_ADDRESS='<sipgate_webhook_server_address>'
